/* Styles */
body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 98%;
    height: 98%;
    display: flex;
    background-color: black;
    box-shadow: 0px 0px 15px 5px white;
    color: white;
}

.board {
    display: none;
    width: 35rem;
    height: 30rem;
    padding: 0.5rem;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(84, 83, 83);
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 2px white;
}

.turn {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid white;
    box-shadow: 0px 0px 25px 1px white;
    background: black;
    cursor: pointer;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-shadow: 1px 1px 1px white;
}

.start-btn {
    width: 10rem;
    height: 5rem;
    background-color: black;
    color: white;
    border: 0.2rem solid white;
    border-radius: 2rem;
    box-shadow: 0px 0px 25px 1px white;
    font-size: 2rem;
    font-weight: 1000;
    transition: all 1s ease 0s;
}

.start-btn:hover {
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: 11rem;
    height: 6rem;
}

.restart-btn {
    display: none;
    margin: 3rem;
    width: 8rem;
    height: 3rem;
    background-color: black;
    color: white;
    border: 0.2rem solid white;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 1px white;
    transition: all 1s ease 0s;
}

.restart-btn:hover {
    cursor: pointer;
    width: 9rem;
    height: 4rem;
    transition: all 0.5s ease 0s;
}

dialog {
    margin: auto;
    justify-content: center;
    align-items: center;
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.75;
}

.name-modal-container {
    display: flex;
    flex-direction: column;
}

.game-over-modal {
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: red;
}

@-webkit-keyframes blink-1 {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.5; }
}

@keyframes blink-1 {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.5; }
}

.game-over-modal::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    -webkit-animation: blink-1 10s infinite both;
    animation: blink-1 10s infinite both;
}

.game-over-modal-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-over-modal-container h1 {
    font-size: 3rem;
}

.game-over-modal-container button {
    display: none;
    font-size: 1.5rem;
    width: 10rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    border: 0.2rem solid red;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px 1px red;
    transition: all 1s ease 0s;
}

.game-over-modal-container button:hover {
    cursor: pointer;
    width: 11rem;
    height: 6rem;
}